*,
body,
input,
textarea {
    color: #373737;
    font-size: 15px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    line-height: 1.625;

    border: 0;
    font-style: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}

strong {
    font-weight: bold;
}

code {
    font-family: "Courier New", Courier, monospace;
}

body {
    padding: 0 2em;
}

.page {
    max-width: 1000px;
    margin: 2em auto;
}

header hgroup {
    margin: 0 7.6%;
}

#site-title {
    margin-right: 270px;
    padding: 3.65625em 0 0;
}

#site-title a,
#site-description {
    color: #555 !important;
}

#site-title a {
    color: #111;
    font-size: 30px;
    font-weight: bold;
    line-height: 36px;
    text-decoration: none;
}

#site-description {
    color: #7a7a7a;
    font-size: 14px;
    margin: 0 270px 3.65625em 0;
}

header img {
    height: auto;
    margin-bottom: -7px;
    width: 100%;
}

#access {
    background: #222;
    background: -moz-linear-gradient(#252525, #0a0a0a);
    background: -o-linear-gradient(#252525, #0a0a0a);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#252525), to(#0a0a0a));
    background: -webkit-linear-gradient(#252525, #0a0a0a);
    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;
    -moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;
    clear: both;
    display: block;
    float: left;
    margin: 0 auto 6px;
    width: 100%;
}

.assistive-text {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
}

#access div {
    margin: 0 7.6%;
}

#access ul {
    font-size: 13px;
    list-style: none;
    margin: 0 0 0 -0.8125em;
    padding-left: 0;
}

#access li {
    float: left;
    position: relative;
}

#access a {
    color: #eee;
    display: block;
    line-height: 3.333em;
    padding: 0 1.2125em;
    text-decoration: none;
}

.main {
    clear: both;
    margin: 0 7.6%;
    padding: 1.625em 0 0;
}

.post h2 * {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.25;
    margin: 0 0 1.25em;
}

article header h1 * {
    font-size: 26px;
    font-weight: bold;
    line-height: 1.5em;
    padding-bottom: 0.3em;
    padding-top: 15px;
    margin: 0 0 1.25em;
    text-decoration: none;
}

article header h2 {
    color: #666;
    clear: both;
    font-size: 12px;
    line-height: 18px;
}

article .entry {
    padding: 1.625em 0 0;
}

article .entry p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    margin-top: 0;
    margin-bottom: 1em;
}

article .entry ul {
    margin-left: 1.5em;
    margin-bottom: 1em;
}

article .entry h1 {
    font-size: 26px;
    font-weight: bold;
    line-height: 1.25;
    margin: 0 0 1.25em;
}

article .entry h2 {
    font-size: 22px;
    font-weight: bold;
    line-height: 1.25;
    margin: 0 0 1.25em;
}

article .entry h3 {
    font-size: 18px;
    font-weight: normal;
    line-height: 1.25;
    margin: 0 0 1.25em;
}

article.page header h1 {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.25;
    margin: 0 0 1.25em;
}

article.page .entry h1 {
    font-size: 26px;
    font-weight: bold;
    line-height: 1.5em;
    padding-bottom: 0.3em;
    padding-top: 15px;
    margin: 0 0 1.25em;
    text-decoration: none;
}

